*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
    font-size: 14px;
}

p {
    color: #333333;
}
h2 {
    color: #666666;
    font-size: 2rem;
}
html { 
    font-size: 10px;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    max-height: 77px;
    background-color: #383E4C;
}

.navigation {
    max-width: 772px;
    margin: 0 auto;
}

.menu {
    display: flex;    
    justify-content: space-between;
    list-style-type: none;
    &__item {
        padding: 10px;
    }
    &__link {
        display: flex;
        padding: 15px 25px;
        font-size: 2rem;
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #646d7c;
        transition: all linear 0.3s;
        &:hover {
            background-color: #49505F;
        }
    }
}

.conquer {
    background: url('/img/bg-1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 560px;
    display: flex;
    align-items: center;
    &__title {
        color: #fff;
        font-size: 7rem;
        text-transform: uppercase;
        text-shadow: 2px 2px #000;
        text-align: center;
    }
    &__subtitle {
        color: #fff;
        font-size: 2.5rem;
        text-shadow: 1px 1px #333;
        text-align: center;
    }
}

.about-us {
    padding: 60px 0;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__bottom {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;        
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}

.card {
    background: #F2F2F2;

    &-about {
        max-width: 360px;
        max-height: 430px;
        &-bottom {
            max-width: 555px;
            max-height: 567px;
        }
    }

    &-services {
        max-width: 260px;
        max-height: 500px;
    }

    &__content {
        padding: 0 30px 30px 30px;
        margin: 0 auto;
    }

    &__title {
        padding-top: 20px;
        &_center {
            text-align: center;
        }
        &_green {
            color: #178A27;
        }
        &_blue {
            color: #1686C1;
        }
    }

    &__description {
        padding-top: 20px;
        &_services {
            line-height: 25px;
        }
    }
}

.button {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.8rem;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    &_color-green {
        background: #178A27;
    }
    &_color-blue {
        background: #1686C1;
    }
    &_color-red {
        background: #852406;
    }
}

.services {
    .wrapper {
        max-width: 1140px;
    }
    &__header {
        background: url("../img/bg-2.jpg") no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 313px;        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__description {
        padding-top: 30px;
    }

    &__middle {
        padding-top: 50px;
        .wrapper {                
            display: flex;
            justify-content: space-between;
        }
    }
    &__bottom {
        padding-top: 30px;
        .wrapper {
            max-width: 1140px;
        }
    }

}

.section-title {
    font-size: 3.6rem;
    color: #ffffff;
    text-shadow: 2px 2px #aaa;
    text-align: center;
}

.section-description {
    max-width: 700px;
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    line-height: 25px;
    text-align: center;
}

.contacts {
    padding: 100px 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("/img/bg-3.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    &__section-description {
        margin-top: 25px;
        color: #000000;
        padding: 20px 15px;
        background: rgba(242,242,242,0.4);
        border-radius: 7px;
    }
}

.contacts-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__inputs {        
        display: flex;
    }
    &__left-side {
        display: flex;
        flex-direction: column;
    }
    &__input, &__textarea {
        margin-top: 18px;
        width: 345px;
        padding: 10px;
        background: rgba(242,242,242,0.4);
        outline: none;
        border: none;
        border-radius: 3px;
        &::placeholder {
            color: #000000;
        }
    }
    &__textarea {
        margin-left: 18px;
        height: 145px;
        resize: none;
    }

    input[type=submit] {
        max-width: 105px;
        background: #262628 none repeat scroll 0 0;
        color: #fff;
        margin-top: 20px;
        padding: 10px 30px;
        font-size: 18px;
        border-radius: 10px;
        transition: all 0.3s ease;
        cursor: pointer;
        border: 1px solid #bbbbbb;
        &:hover {
            background: #ffffff;
            color: #000000;
        }
    }
}

.footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}