*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
}

p {
  color: #333333;
}

h2 {
  color: #666666;
  font-size: 2rem;
}

html {
  font-size: 10px;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  max-height: 77px;
  background-color: #383E4C;
}

.navigation {
  max-width: 772px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menu__item {
  padding: 10px;
}

.menu__link {
  display: flex;
  padding: 15px 25px;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #646d7c;
  transition: all linear 0.3s;
}

.menu__link:hover {
  background-color: #49505F;
}

.active {
  background-color: #49505F;
}

.conquer {
  background: url("/img/bg-1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 560px;
  display: flex;
  align-items: center;
}

.conquer__title {
  color: #fff;
  font-size: 7rem;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
  text-align: center;
}

.conquer__subtitle {
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 1px 1px #333;
  text-align: center;
}

.about-us {
  padding: 60px 0;
}

.about-us__top {
  display: flex;
  justify-content: space-between;
}

.about-us__bottom {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.about-us__button {
  display: flex;
  justify-content: center;
}

.card {
  background: #F2F2F2;
}

.card-about {
  max-width: 360px;
  max-height: 430px;
}

.card-about-bottom {
  max-width: 555px;
  max-height: 567px;
}

.card-services {
  max-width: 260px;
  max-height: 500px;
}

.card__content {
  padding: 0 30px 30px 30px;
  margin: 0 auto;
}

.card__title {
  padding-top: 20px;
}

.card__title_center {
  text-align: center;
}

.card__title_green {
  color: #178A27;
}

.card__title_blue {
  color: #1686C1;
}

.card__description {
  padding-top: 20px;
}

.card__description_services {
  line-height: 25px;
}

.button {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 1.8rem;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.button_color-green {
  background: #178A27;
}

.button_color-blue {
  background: #1686C1;
}

.button_color-red {
  background: #852406;
}

.services .wrapper {
  max-width: 1140px;
}

.services__header {
  background: url("../img/bg-2.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 313px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__description {
  padding-top: 30px;
}

.services__middle {
  padding-top: 50px;
}

.services__middle .wrapper {
  display: flex;
  justify-content: space-between;
}

.services__bottom {
  padding-top: 30px;
}

.services__bottom .wrapper {
  max-width: 1140px;
}

.section-title {
  font-size: 3.6rem;
  color: #ffffff;
  text-shadow: 2px 2px #aaa;
  text-align: center;
}

.section-description {
  max-width: 700px;
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
  line-height: 25px;
  text-align: center;
}

.contacts {
  padding: 100px 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/img/bg-3.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.contacts__section-description {
  margin-top: 25px;
  color: #000000;
  padding: 20px 15px;
  background: rgba(242, 242, 242, 0.4);
  border-radius: 7px;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-form__inputs {
  display: flex;
}

.contacts-form__left-side {
  display: flex;
  flex-direction: column;
}

.contacts-form__input, .contacts-form__textarea {
  margin-top: 18px;
  width: 345px;
  padding: 10px;
  background: rgba(242, 242, 242, 0.4);
  outline: none;
  border: none;
  border-radius: 3px;
}

.contacts-form__input::placeholder, .contacts-form__textarea::placeholder {
  color: #000000;
}

.contacts-form__textarea {
  margin-left: 18px;
  height: 145px;
  resize: none;
}

.contacts-form input[type=submit] {
  max-width: 105px;
  background: #262628 none repeat scroll 0 0;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid #bbbbbb;
}

.contacts-form input[type=submit]:hover {
  background: #ffffff;
  color: #000000;
}

.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #333333;
  color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  display: none;
}

.back-to-top:hover {
  background: #ffffff;
  color: #333333;
  border: 2px solid #333333;
}

.back-to-top_show {
  display: block;
}
/*# sourceMappingURL=style.css.map */