@import "../css/variables";
@import "../css/mixins";

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
    font-size: 14px;
}

p {
    color: #333333;
}
h2 {
    color: #666666;
    font-size: 2rem;
}
html { 
    font-size: 10px;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    @include media_lg {
        max-width: $wrapper-lg;
    }
    @include media_md {
        max-width: $wrapper-md;
    }
    @include media_sm {
        max-width: $wrapper-sm;
    }
}

.header {
    position: sticky;
    top: 0;
    max-height: 77px;
    background-color: #383E4C;   
    @include media_sm {
        max-height: 0;
    }
}

.hamburger {
    display: none;
    @include media_sm {
        display: block;
        position: absolute;
        /* always keep ham on top of everything */
        z-index: 1000;
        top: 20px;
        right: 20px;
        width: 32px;
        height: 32px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        /* show the menu image */
        background-image: url("../img/hamburger_menu_icon.svg");
        background-size: 100%;
    }
}

.show-nav {
    transform: translateY(0) !important;
}

.hamburger-close {
    background-image: url("../img/hamburger_close_icon.svg");
}

.navigation {
    max-width: 772px;
    margin: 0 auto;  
    @include media_md {
        max-width: 650px;
    }
    @include media_sm {
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        color: white;
        /* hide the menu above the screen by default */
        transform: translateY(-100%);
        /* transition adds a little animation when sliding in and out the menu */
        transition: transform 0.2s ease;
    } 


}

.menu {    
    display: flex;    
    justify-content: space-between;
    list-style-type: none;
    &__item {
        padding: 10px;
    }
    &__link {
        display: flex;
        padding: 15px 25px;
        font-size: 2rem;
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #646d7c;
        transition: all linear 0.3s;
        &:hover {
            background-color: #49505F;
        }
        @include media_md {
            font-size: 1.4rem;
        }
        @include media_sm {
              color: white;
                padding-bottom: 10px;
                border-bottom: 2px solid black;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.2rem;                
                border: none;
        }
    }
    @include media_sm {
        width: 100%;
        height: 100%;
        list-style: none;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }
}

.active {
    background-color: #49505F;
}

.conquer {
    background: url('/img/bg-1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 560px;
    display: flex;
    align-items: center;
    &__title {
        color: #fff;
        font-size: 7rem;
        text-transform: uppercase;
        text-shadow: 2px 2px #000;
        text-align: center;
    }
    &__subtitle {
        color: #fff;
        font-size: 2.5rem;
        text-shadow: 1px 1px #333;
        text-align: center;
    }
}

.about-us {    
    &__top {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        @include media_sm {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__bottom {
        padding: 60px 0;
        display: flex;
        justify-content: space-between;  
        @include media_sm {
            flex-wrap: wrap;
            justify-content: center;
        }      
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}

.card {
    background: #F2F2F2;
    &-about {
        max-width: 360px;
        max-height: 430px;
        img {
            @include media_lg {
                max-width: 293px;
            }
            @include media_md {
                max-width: 220px;
            }
            @include media_sm {
                max-width: 360px;
            }
        }
        &-bottom {
            max-width: 555px;
            max-height: 567px;
            img {
                @include media_lg {
                    max-width: 455px;
                }
                @include media_md {
                    max-width: 345px;
                }                

            }
            @include media_lg {
                max-width: 455px;
                max-height: 545px;
            }
            @include media_md {
                max-width: 345px;
            }
            @include media_sm {
                margin: 15px 50px;
            }

        }
        @include media_lg {
            max-width: 293px;
            max-height: 420px;
        }
        @include media_md {
            max-width: 220px;
            max-height: 450px;
        }
        @include media_sm {
            max-width: 360px;
            margin: 15px 50px;
        }
    }

    &-services {
        max-width: 260px;
        max-height: 500px;
        img {
            @include media_lg {
                max-width: 215px;
            }
            @include media_md {
                max-width: 260px;
            }
        }
        @include media_lg {
            max-width: 215px;
        }
        @include media_md {
            max-width: 260px;
            margin-top: 30px;
        }

        &__bottom {
            @include media_lg {
                max-width: 940px;
                margin: 0 auto;
            }
            @include media_sm {
                max-width: 737px;
            }   
            img {
                @include media_lg {
                    max-width: 940px;
                }
                @include media_md {
                    max-width: 750px;
                }           
                @include media_sm {
                    max-width: 737px;
                }       
            }

        }
    }


    &__content {
        padding: 0 30px 30px 30px;
        margin: 0 auto;
        @include media_lg {
            padding: 0 20px 20px 20px;
        }
    }

    &__title {
        padding-top: 20px;
        &_center {
            text-align: center;
        }
        &_green {
            color: #178A27;
        }
        &_blue {
            color: #1686C1;
        }
        @include media_md {
            font-size: 1.8rem;
        }
    }

    &__description {
        padding-top: 20px;
        &_services {
            line-height: 25px;
        }
    }
}

.button {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.8rem;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    &_color-green {
        background: #178A27;
    }
    &_color-blue {
        background: #1686C1;
    }
    &_color-red {
        background: #852406;
    }
}

.services {
    &__header {
        background: url("../img/bg-2.jpg") no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 313px;        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__description {
        padding-top: 30px;
    }

    &__middle {
        padding-top: 50px;
        .wrapper {                
            display: flex;
            justify-content: space-between;
            @include media_md {
                flex-wrap: wrap;
            }
            @include media_sm {
                justify-content: space-around;
            }
        }
        @include media_md {
            padding-top: 30px;
        }

    }
    &__bottom {
        padding-top: 30px;
        margin-bottom: 110px;
    }

}

.section-title {
    font-size: 3.6rem;
    color: #ffffff;
    text-shadow: 2px 2px #aaa;
    text-align: center;
}

.section-description {
    max-width: 700px;
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    line-height: 25px;
    text-align: center;
}

.contacts {
    padding: 100px 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("/img/bg-3.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    &__section-description {
        margin-top: 25px;
        color: #000000;
        padding: 20px 15px;
        background: rgba(242,242,242,0.4);
        border-radius: 7px;
    }

    .section-title {
        padding-top: 60px;
    }
}

.contacts-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__inputs {        
        display: flex;
        @include media_sm {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
    &__left-side {
        display: flex;
        flex-direction: column;
        @include media_sm {
            width: 100%;
        }
    }

    &__right-side {
        @include media_sm {
            width: 100%;
        }
    }

    &__input, &__textarea {
        margin-top: 18px;
        width: 345px;
        padding: 10px;
        background: rgba(242,242,242,0.4);
        outline: none;
        border: none;
        border-radius: 3px;
        &::placeholder {
            color: #000000;
        }
        @include media_sm {
            width: 100%;
        }
    }
    &__textarea {
        margin-left: 18px;
        height: 145px;
        resize: none;
        @include media_sm {
            width: 100%;
            margin-left: 0;
        }
    }

    input[type=submit] {
        max-width: 105px;
        background: #262628 none repeat scroll 0 0;
        color: #fff;
        margin-top: 20px;
        padding: 10px 30px;
        font-size: 18px;
        border-radius: 10px;
        transition: all 0.3s ease;
        cursor: pointer;
        border: 1px solid #bbbbbb;
        &:hover {
            background: #ffffff;
            color: #000000;
        }
    }
}

.footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #333333;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    display: none;

    &:hover {
        background: #ffffff;
        color: #333333;
        border: 2px solid #333333;
    }
}

.back-to-top_show {
    display: block;
}


#conquer,
#about-us,
#services,
#contacts {
    padding-top: 75px;
    margin-top: -75px;
    @include media_md {
        padding-top: 68px;
        margin-top: -68px;
    }
    @include media_sm {
        padding-top: 0;
        margin-top: 0;
    }
}